* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensures vertical centering */
}

.calculator {
    background: #3a4452;
    padding: 20px 30px;
    border-radius: 45px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.2);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 2rem;
    box-shadow: none;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
}

.calculator form input[type="button"] {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),
                5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    transition: background 0.2s;
}

.calculator form input[type="button"]:hover {
    background: #222831;
}

.calculator form input.operator {
    color: #33ffd8;
}

.calculator form input.equal {
    width: 145px;
    background: #ff9500;
    color: #fff;
}

.calculator form input.equal:hover {
    background: #ffa733;
}
